.Square {
  border: 1px solid black;
  background-color: transparent;
  padding-bottom: 100%;
  width: 100%;
  font-size: 0;
}

.Square--selected {
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

.Square--p1 {
  background-image: url('./p1.png');
}

.Square--p2 {
  background-image: url('./p2.png');
}

.Square--winning.Square--p1 {
  background-color: #ffc4b8;
}

.Square--winning.Square--p2 {
  background-color: #ffe6a8;
}
